<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=">
<link href="../public/styles/cominfo.css" rel="stylesheet"/>
<script type="text/JavaScript" src="../public/jquery/jquery-1.9.1.js"></script>

<title>{$title}</title>
</head>
<body id="main">
	<div id="map">

		
	<ol>
		<li>1111</li>
		<li>222</li>
	</ol>

	</div><!-- / -->
	<div id="map">

		
	后台首页>>计算机管理>><strong id="title">{$title}</strong>

	</div><!-- / -->
<ol>
	<li><a href="cominfo.php?action=show" title="">计算机列表</a></li>
	<li><a href="cominfo.php?action=add" title="">添加计算机</a></li>
</ol><!-- / -->
{if $show}
<table>
	<caption>{$title}</caption>
	<thead>
		<tr>
			<th>序号</th>
			<th>登记号</th>
			<th>计算机名</th>
			<th>ip</th>
			<th>mac</th>
			<th>使用人</th>
			<th>部门</th>
			<th>cpu型号</th>
			<th>内存容量</th>
			<th>内存类型</th>
			<th>机柜端口</th>
			<th>交换机编号</th>
			<th>上网</th>
			<th>防水墙</th>
			<th>用途</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
	{if $AllCominfo}
	{foreach $AllCominfo as $key=>$value}
		<tr>
			<td><script>document.write({$key+1}+{$num});</script></td>
			<td>{$value->comcode}</td>
			<td>{$value->comname}</td>
			<td>{$value->ip}</td>
			<td>{$value->mac}</td>
			<td>{$value->user}</td>
			<td>{$value->department}</td>
			<td>{$value->cpu}</td>
			<td>{$value->memoryCapacity}</td>
			<td>{$value->memoryType}</td>
			<td>{$value->machineRoomPort}</td>
			<td>{$value->switchNumber}</td>
			<td>{$value->internet}</td>
			<td>{$value->sww}</td>
			<td>{$value->application}</td>
			<td>
	   		 <a href="cominfo.php?action=update&id={$value->id}">修改</a>|
	   		 <a href="cominfo.php?action=delete&id={$value->id}" onclick="return confirm('确定要删除吗？')">删除</a>
			</td>
		</tr>
	{/foreach}
	{else}
		<tr><td colspan="16">暂无数据</td></tr>
	{/if}
	</tbody>
</table>
{/if}
<div id="page">{$page}</div>
<!-- <form method="get" action="">
	<input type="hidden" name="action" value="show" />
		<select name="type"> 
			<option value="0" {$all}>所有链接</option>
			<option value="1" {$first}>文字链接</option>
			<option value="2" {$second}>图片链接</option>
			<option value="3">隐藏链接</option>		
		</select>
		<input type="submit" value="submit">
	</form>
	
<form method="get" action="">
	<input type="hidden" name="action" value="show">
	<select name="kind" style="background:#fff;border:1px solid #ccc" >
		<option value="0">全部广告</option>
		<option value="1">通栏广告</option>
		<option value="2">Banner广告</option>
		<option value="3">侧栏广告</option>		
	</select>
	<input type="submit" value="查询">
</form> -->

{if $add}
<form method="post" name="content" enctype="multipart/form-data">
	
	<table>
		<caption>{$title}</caption>
		<tr><td>计算机编号:<input type="text" name="comcode" value=""></td></tr>
		<tr><td>计算机名称:<input type="text" name="comname" value=""></td></tr>
		<tr><td>计算机ip:<input type="text" name="ip" value=""></td></tr>
		<tr><td>计算机mac:<input type="text" name="mac" value=""></td></tr>
		<tr><td>计算机使用人:<input type="text" name="user" value=""></td></tr>
		<tr><td>部门:
					<select name="department" style="background:#fff;border:1px solid #ccc" >
						<option value="支撑部">支撑部</option>
						<option value="行政一部">行政一部</option>
						<option value="财务部">财务部</option>
						<option value="工程部">工程部</option>
						<option value="客服部">客服部</option>
						<option value="行政二部">行政二部</option>
						<option value="人事部">人事部</option>
						<option value="数据部">数据部</option>
						<option value="业务一部">业务一部</option>
						<option value="业务二部">业务二部</option>
						<option value="业务三部">业务三部</option>
						<option value="业务四部">业务四部</option>
						<option value="业务北区">业务北区</option>
						<option value="管理部">管理部</option>
						<option value="青春营业厅">青春营业厅</option>
						<option value="机房">机房</option>
						<option value="库房">库房</option>
					</select>
		</td></tr>
		<tr><td>cpu类型:
					<select name="cpu" style="background:#fff;border:1px solid #ccc" >
						<option value="celeron2.8">celeron2.8</option>
						<option value="celeron2.66">celeron2.66</option>
						<option value="celeron3.06">celeron3.06</option>
						<option value="G630">G630</option>
						<option value="i5-3470">i5-3470</option>
						<option value="E5800">E5800</option>
						<option value="E5700">E5700</option>
						<option value="E5500">E5500</option>
						<option value="E5300">E5300</option>
						<option value="E430">E430</option>
						<option value="E440">E440</option>
						<option value="E420">E420</option>
						<option value="E1400">E1400</option>
						<option value="AMD3400+">AMD3400+</option>
					</select>
		</td></tr>
		<tr><td>内存容量:<input type="text" name="memoryCapacity" value="">G</td></tr>
		<tr><td>内存类型:
				<input type="radio" name="memoryType" value="一代内存" checked="checked">一代内存
				<input type="radio" name="memoryType" value="二代内存" >二代内存
				<input type="radio" name="memoryType" value="三代内存" >三代内存
		</td></tr>
		<tr><td>机房端口<input type="text" name="machineRoomPort" value=""></td></tr>
		<tr><td>连接交换机编号<input type="text" name="switchNumber" value=""></td></tr>
		<tr><td>是否上网:
				<input type="radio" name="internet" value="上网" checked="checked">上网
				<input type="radio" name="internet" value="不上网" >不上网
		</td></tr>
		<tr><td>是否防水墙:  
				<input type="radio" name="sww" value="有" checked="checked">有
				<input type="radio" name="sww" value="无" >无
		</td></tr>
		<tr><td>计算机用途:<textarea name="application"></textarea></td></tr>
		<tr><td>备注:<textarea name="description"></textarea></td></tr>
		<tr><td><input type="submit" name="send" value="提交"></td></tr>
	</table>
</form>
{/if}


{if $update}
<form action="" method="post" accept-charset="utf-8" >
			<input type="hidden" name="id" value={$G_id}>
	<table>
		<caption>{$title}</caption>
		<tr><td>计算机编号:<input type="text" name="comcode" value="{$G_comcode}"></td></tr>
		<tr><td>计算机名称:<input type="text" name="comname" value="{$G_comname}"></td></tr>
		<tr><td>计算机ip:<input type="text" name="ip" value="{$G_ip}"></td></tr>
		<tr><td>计算机mac:<input type="text" name="mac" value="{$G_mac}"></td></tr>
		<tr><td>计算机使用人:<input type="text" name="user" value="{$G_user}"></td></tr>
		<tr><td>部门：
					<select name="department" style="background:#fff;border:1px solid #ccc" >
						<option value="支撑部" {$G_department1}>支撑部</option>
						<option value="行政一部" {$G_department2}>行政一部</option>
						<option value="财务部" {$G_department3}>财务部</option>
						<option value="工程部" {$G_department4}>工程部</option>
						<option value="客服部" {$G_department5}>客服部</option>
						<option value="行政二部" {$G_department6}>行政二部</option>
						<option value="人事部" {$G_department7}>人事部</option>
						<option value="数据部" {$G_department8}>数据部</option>
						<option value="业务一部" {$G_department9}>业务一部</option>
						<option value="业务二部" {$G_department10}>业务二部</option>
						<option value="业务三部" {$G_department11}>业务三部</option>
						<option value="业务四部" {$G_department12}>业务四部</option>
						<option value="业务北区" {$G_department13}>业务北区</option>
						<option value="管理部" {$G_department14}>管理部</option>
						<option value="青春营业厅" {$G_department15}>青春营业厅</option>
						<option value="机房" {$G_department16}>机房</option>
						<option value="库房" {$G_department17}>库房</option>
					</select>
		</td></tr>
		<tr><td>cpu类型:
				<select name="cpu" style="background:#fff;border:1px solid #ccc" >
						<option value="celeron2.8" {$G_cpu1}>celeron2.8</option>
						<option value="celeron2.66" {$G_cpu2}>celeron2.66</option>
						<option value="celeron3.06" {$G_cpu3}>celeron3.06</option>
						<option value="G630" {$G_cpu4}>G630</option>
						<option value="i5-3470" {$G_cpu5}>i5-3470</option>
						<option value="E5800" {$G_cpu6}>E5800</option>
						<option value="E5700" {$G_cpu7}>E5700</option>
						<option value="E5500" {$G_cpu8}>E5500</option>
						<option value="E5300" {$G_cpu9}>E5300</option>
						<option value="E430" {$G_cpu10}>E430</option>
						<option value="E440" {$G_cpu11}>E440</option>
						<option value="E420" {$G_cpu12}>E420</option>
						<option value="E1400" {$G_cpu13}>E1400</option>
						<option value="AMD3400+" {$G_cpu14}>AMD3400+</option>
					</select>
		</td></tr>
		<tr><td>内存容量:<input type="text" name="memoryCapacity" value="{$G_memoryCapacity}">G</td></tr>
		<tr><td>内存类型:
					<input type="radio" name="memoryType" value="一代内存" {$G_memoryType1}>一代内存
					<input type="radio" name="memoryType" value="二代内存" {$G_memoryType2}>二代内存
					<input type="radio" name="memoryType" value="三代内存" {$G_memoryType3}>三代内存
		</td></tr>
		<tr><td>机房端口<input type="text" name="machineRoomPort" value="{$G_machineRoomPort}"></td></tr>
		<tr><td>连接交换机编号<input type="text" name="switchNumber" value="{$G_switchNumber}"></td></tr>
		<tr><td>是否上网:
					<input type="radio" name="internet" value="上网" {$G_internet1}>上网
					<input type="radio" name="internet" value="不上网" {$G_internet2}>不上网
		</td></tr>
		<tr><td>是否防水墙:
					<input type="radio" name="sww" value="有" {$G_sww1}>有
					<input type="radio" name="sww" value="无" {$G_sww2}>无
		</td></tr>
		<tr><td>计算机用途:<textarea name="application" >{$G_application}</textarea></td></tr>
		<tr><td>备注:<textarea name="description" >{$G_description}</textarea></td></tr>
		<tr><td><input type="submit" name="send" value="提交"></td></tr>
	</table>
</form>
{/if}

</body>
</html>